@import "bootstrap";

body {
  padding-top: 0px;
  background-color:white;
  font-family: 'Kosugi Maru', sans-serif;
  font-family: 'PT Sans', sans-serif;
  }

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  position: relative;
  box-sizing: border-box;
  color: #fff;
}

footer {
  width: 100%;
  background-color: #343a40;
  text-align: center;
  padding: 30px, 0;
  position: absolute;
  bottom: 0;

  p {
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 0;
  }
}

h1 {
  margin-top: 20px;
}

.expand-field {
  display: inline-block;
  max-width: 100px;
  height: 30px;
}

.form-group {
  margin: 20px,20px,20px,20px;
}

p.font-color {
  font-size: 1.5rem;
  color: #95ccff;
}

.border-wrap  {
  padding: 0.5em 1em;
  margin: 1em 0;
  font-weight: bold;
  max-width: 300px;
  color: #000000;
  background: #FFF;
  border: solid 2px #95ccff;
  border-radius: 5px;
}

div #links {
  padding-top: 20px;
  padding-left: 20px;
}

.container {
  display: block;
  margin: 30px auto;
}

.contents {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
  max-width: 400px;

  .contents-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 16px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
    max-width: 300px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

p.contents-title {
  color: #95ccff;
  font-weight: bold;
}

.table-wrapper {
  padding-left: 24px;
}

.border-color {
  border-color: #95ccff ;
}

div.d-flex {
  padding-top: 20px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.form-group.form-group-flex {
  display: flex;
}

.form-height select,.form-height input {
  height: 29px;
  padding: 1px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}

.form-height input {
  width: 70px;
}