@import "bootstrap";

body {
  padding-top: 0px;
  background-color:white;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;

}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  position: relative;
  box-sizing: border-box;
}

footer {
  width: 100%;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 30px, 0;
  position: absolute;
  bottom: 0;

  p {
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 0;
  }
}


.border-wrap  {
  padding: 0.5em 1em;
  margin: 1em 0;
  font-weight: bold;
  max-width: 300px;
  color: #242424;/*文字色*/
  background: #FFF;
  border: solid 2px #000000;/*線*/
  border-radius: 5px;/*角の丸み*/
}


.box26 {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
  max-width: 400px;

  .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 16px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
    max-width: 300px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

p.box27 {
  color: #95ccff;
  font-weight: bold;
}

.box28 {
  border-color: #95ccff ;
}

p  {
  color: black;
  margin: 0;
  padding: 0;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.form-group.form-group-flex {
  display: flex;
}

.form-height select,.form-height input {
  height: 29px;
  padding: 1px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
  border-image: initial;
}
.form-height input {
  width: 70px;
}

