h1 登録内容の編集
= render 'form', model: @record
= link_to '練習記録一覧に戻る', root_path, class: 'btn btn-primary'


/ = form_for @record, url: records_path, method: :post, local:true do |f|

/   h3 練習日
/   #record
/     = f.date_field :training_date

/   .form-group
/     h3 今日できるようになったこと・成果
/     #outputs
/       = f.fields_for :outputs do |output|
/         = render 'output_fields', f: output
/       #links
/         = link_to_add_association '追加',f, :outputs, class: 'btn btn-primary'

/   .d-flex.text-item: center
/   = f.fields_for :practices do |practice_fields|
/     / h3 今日の練習内容
/     / = practice_fields.select :practice_item, class: 'form-control'
/     /   option  サーブ練習
/     /   option  フットワーク
/     /   option  3球目攻撃
/     /   option  オール練習

/     / h3 を
/     / = practice_fields.number_field :practice_time
/     / h3 分

/     h3 今日の練習内容
/     table
/       thead
/         tr
/           th 練習項目
/           th 練習時間（分）
/       tbody
/         tr.form-control-md
/           td= practice_fields.select :practice_item
/             option サーブ練習
/             option フットワーク練習
/             option ３球目攻撃
/             option オール練習
/           td= practice_fields.number_field :practice_time

/     h3 今日の気付き
/   = f.text_area :learning_point

/   .form-group
/     h3 次回練習すること・課題
/     #tasks
/       = f.fields_for :tasks do |task|
/         = render 'task_fields', f: task
/       #links
/         = link_to_add_association '追加',f, :tasks, class: 'btn btn-primary'

/   = link_to '編集', edit_record_path(@record), class: 'btn btn-primary mr-3'
/   = f.submit 'この内容で更新する', class: 'btn btn-primary'
/   = link_to '一覧に戻る', root_path, class: 'btn btn-primary'